.row-selected {
    background-color: #e8e8ff;
}

td.marker {
    overflow: hidden;
    width: 0.5em;
}


tr.row-selected td.marker {
    background-color: slateblue;
    color: white;
    width: 0.5em;
}

tr.row-selected td {
    color: slateblue;
}

table:focus {
    outline:none;
}

.no-select-text {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}